@model HotelSystem.Models.Booking

<h1>Create Booking</h1>

<form asp-action="Create">
    <div class="form-group">
        <label for="RoomId">Room</label>
        <select asp-for="RoomId" asp-items="@(new SelectList(ViewBag.Rooms, "Id", "Type"))" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="GuestName"></label>
        <input asp-for="GuestName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="GuestEmail"></label>
        <input asp-for="GuestEmail" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CheckInDate"></label>
        <input asp-for="CheckInDate" type="date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CheckOutDate"></label>
        <input asp-for="CheckOutDate" type="date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TotalPrice"></label>
        <input asp-for="TotalPrice" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>