@model HotelSystem.Models.Room

@{
    ViewData["Title"] = "Delete Room";
}

<h2>Delete Room</h2>

<h3>Are you sure you want to delete this room?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Room Type
        </dt>
        <dd class="col-sm-10">
            @Model.Type
        </dd>
        <dt class="col-sm-2">
            Price
        </dt>
        <dd class="col-sm-10">
            @Model.Price
        </dd>
        <dt class="col-sm-2">
            Is Available
        </dt>
        <dd class="col-sm-10">
            @Model.IsAvailable
        </dd>
        <dt class="col-sm-2">
            Hotel
        </dt>
        <dd class="col-sm-10">
            @Model.Hotel.Name
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" asp-controller="Hotel" class="btn btn-secondary">Cancel</a>
    </form>
</div>
